{{#> layouts/layout}}
    {{#*inline "content"}}
        <div id="root"></div>
    {{/inline}}
    {{#*inline "scripts"}}
        <script src="/js/checkout.js"></script>
    {{/inline}}
{{/layouts/layout}}

