<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Code Shop | Maratona Full Cycle</title>

    <link rel="shortcut icon" href="public/img/favicon.ico"/>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600' rel='preload' as="style"
          onload="this.rel='stylesheet'" type='text/css'>

    <link rel="stylesheet" type="text/css" href="/css/main.css" media="all"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript">
            {{#with tenant}}
            window.domain = {
                site: "{{site}}",
                fallback_subdomain: "{{fallback_subdomain}}"
            }
            {{/with}}
    </script>
</head>
<body>
{{> partials/navbar }}

{{{body}}}
{{#> content}}{{/content}}

{{> partials/footer }}
<script type="text/javascript" src="/js/main.js"></script>
{{#> scripts}}{{/scripts}}
</body>
</html>
